<<<<<<< HEAD
<h1>Welcome</h1>


<%= form_tag(sessions_path) do %>
<%= text_field_tag :name, nil, placeholder: 'Enter Name'%>
<%= password_field_tag :password, nil, placeholder: 'Password'%>
<%= hidden_field_tag :id, params[:id]%>
<%= button_tag('Login')%>
<%end%>


=======
>>>>>>> 62eeb107b70402460ea64b206c9191472f2010fb
