<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
	    <%= form_for(:session, url: login_path) do |f| %>

	      <%= f.label :username %>
	      <%= f.email_field :username %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.submit "Log in" %>
    	<% end %>
</body>
</head>
</html>